@{
    ViewBag.Title = "Hakkında";
}

<p>25.11.2024 tarihi ile birlikte bitmiş olup okulların öğretmen giriş için kayıtlı 
    öğretmenlerin gmailine mail olarak tek kullanımlı bir şifre gönderir. Tek kullanımlık
    şifresi akıllı tahta buluna metin tarafına girip giriş işlemi tamamlanır.</p>
