@model MvcOkul.Models.TBL_OGRETMENLER
@{
    ViewBag.Title = "Home Page";
}

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <br />
    <div>
        <label>Mail gir</label> <br />
        @Html.TextBoxFor(x => x.Gmail, new { @class = "form-control" })
    </div>
    <br />
    <div>
        <button class="btn btn-info" id="btn1" type="submit">Şifre Gönder</button>
    </div>
    <script>
        $('#btn1').click(function () {
            swal("Tebrikler", "Başarılı Bir Şekilde Mesaj Gönderildi", "success");
        });
    </script>
    <br />
    <div>
        <h1>@ViewBag.a</h1>
    </div>
    <br />
    <div>
        <h1>@ViewBag.hata</h1>
    </div>
    <div>
        <h1>@ViewBag.hata1</h1>
    </div>
}
